aniso8601
blinker
click
colorama
contourpy
cycler
dnspython
Flask
Flask-RESTful
fonttools
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow1
plotly
pymongo
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sklearn
tenacity
threadpoolctl
tzdata
Werkzeug
yellowbrick
